@font-face{
  src: url(./fonts/Ogg-Roman.ttf);
  font-family: "ogg";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
body {
  background-color: #181818;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.intro {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #181818;
  transition: 1s;
}

.load-head {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 18%;
  
}

.load-head span {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #dfd3c3;
  position: relative;
  bottom: -20px;
  opacity: 0;
}

.logo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

#circleMouse {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 3;
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}


#main {
  width: 100%;
  min-height: 100vh;
  background-color: #181818;
}

#main #nav {
  width: 100%;
  min-height: 10vh;
  padding: 15px 40px;
  display: flex;
  align-items: center;
}

#nav img {
  width: 50px;
}

#nav #text-move {
  width: 25%;
  overflow-x: hidden;
  white-space: nowrap;
  margin-left: 35%;
  pointer-events: none;
}

#nav h4 {
  font-family: "ogg";
  font-size: 18px;
  color: #dfd3c3;
  font-weight: 400;
  animation: run linear infinite alternate-reverse 25s both;
  -webkit-animation: run linear infinite alternate-reverse 25s both;
  -moz-animation: run linear infinite alternate-reverse 25s both;
  -o-animation: run linear infinite alternate-reverse 25s both;
  -ms-animation: run linear infinite alternate-reverse 25s both;
}

#main #hero {
  width: 100%;
  height: 90vh;
}

#hero #line {
  width: 100%;
  opacity: 0.2;
  position: relative;
  pointer-events: none;
}

#hero #heading {
  width: 80%;
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none;
}

#hero #heading h2 {
  font-family: "ogg";
  color: #dfd3c3;
  font-size: 98px;
  font-weight: 200;
  line-height: 109px;
  text-shadow: 0 12px 32px rgb(0, 0, 0.5);
}

#hero #heading span {
  font-family: "ogg";
  color: #dfd3c3;
  font-size: 98px;
  font-weight: 200;
  line-height: 109px;
  text-shadow: 0 12px 32px rgb(0, 0, 0.5);
  text-align: center;
}

#hero #scroll {
  position: absolute;
  transform: translate(-50%, -50%) rotate(90deg);
  top: 63%;
  right: -15%;
  display: flex;
  align-items: center;
}

#hero #scroll h4 {
  font-family: "ogg";
  color: #dfd3c3;
  font-weight: 200;
  margin-right: 10px;
}

#scroll #rot img {
  width: 8%;
  animation: ghumaao 5s linear infinite both;
}
#hero #circle {
  position: relative;
  transform: translate(-50%, -50%);
  bottom: -5%;
  left: 45%;
  height: 160px;
  width: 160px;
  animation: ghumaao 10s linear infinite both;
  border-radius: 100%;

}
#hero #circle img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 100%;
}

#hero #circle #Scircle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #dfd3c3;
  position: absolute;
  top: 50%;
  left: 50%;
}

#circle:hover #Scircle {
  background-image: url(./img/circleimg.jpg);
  background-size: 330% 330%;
  background-position: center;
  transition-duration: 1.5s;
  transform: translate(-50%, -50%) scale(3);
}
#circle:not(:hover) #Scircle {
  transform: translate(-50%, -50%) scale(1);
  transition-duration: 1.5s;
}

#main #who {
  width: 100%;
  height: 100vh;
  position: relative;
}

#who #whoimg {
  width: 50%;
  height: 70%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 5%;
  left: 5%;
}

#who #whoimg img {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#who h1 {
  color: #dfd3c3;
  font-family: "ogg";
  font-size: 110px;
  line-height: 95px;
  font-weight: 200;
  position: absolute;
  transform: translate(-50%,-50%);
  z-index: 1;
  top: 20%;
  left: 60%;
  text-shadow: 0 12px 32px rgb(0, 0, 0.5);
  letter-spacing: 10px;
}

#who #about {
  width: 39%;
  position: absolute;
  right: 3%;
  bottom: 28%;
}

#about h4 {
  font-family: "ogg";
  color: #dfd3c3;
  font-weight: 200;
  font-size: 40px;
}

#about p {
  font-family: "ogg";
  color: #dfd3c3;
  font-weight: 200;
}

#hztxt {
  position: absolute;
  bottom: -5%;
  font-size: 80px;
  white-space: nowrap;
  opacity: 0.5;
  display: flex;
  width: 100%;
  right: 22%;
}

#hztxt #one {
  font-family: "ogg";
  color: #dfd3c3;
  font-weight: 200;
  pointer-events: none;
}

#Shztxt {
  position: absolute;
  bottom: -24%;
  font-size: 80px;
  white-space: nowrap;
  opacity: 0.5;
  display: flex;
  width: 100%;
  right: 30%;
}

#Shztxt #two {
  font-family: "ogg";
  color: #dfd3c3;
  font-weight: 200;
  pointer-events: none;
}

#home {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 200px;
}

.section {
  position: relative;
  height: 85vh;
  width: 100%;
}

.img-wrap {
  position: relative;
  top: 30%;
  height: 65%;
  width: 1px;
  overflow: hidden;
  opacity: 0;
  border-radius: 10px;
}

.img-wrap.active {
  width: 39.9vw;
  opacity: 1;
  transition: opacity 0s, width 2s;
}

.img-wrap.active > .img {
  transform: scale(1);
  transition: 2s ease;
}
.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40vw;
  height: 100%;
  background-size: cover;
  background-position: center;
  transform: scale(1.6);
  filter: grayscale(100%);
}

.img:hover {
  transition: 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  filter: grayscale(0%);
}

#home #work h3 {
  font-family: "ogg";
  font-size: 110px;
  font-weight: 200;
  color: #dfd3c3;
  text-decoration: underline 2px;
  text-underline-offset: 10px;
}

#home #work{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

#home h2 {
  position: absolute;
  top: 60%;
  z-index: 2;
  font-family: "ogg";
  font-size: 40px;
  font-weight: 200;
  color: #dfd3c3;
  text-shadow: 0 12px 32px rgb(0, 0, 0.8);
 
}


#home h2 span {
  font-family: "ogg";
  font-size: 32px;
  font-weight: 100;
}



#home h2.active {
  opacity: 1;
  transition: 3s;
  letter-spacing: 3px;
}

#main #ethic {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main #ethic p {
  font-family: "ogg";
  color: #dfd3c3;
  font-weight: 200;
  font-size: 32px;
  font-style: italic;
  text-align: center;
  width: 50%;
  letter-spacing: 2px;
}

#main #contact {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#contact h4 {
  font-family: "ogg";
  color: #dfd3c3;
  font-weight: 200;
  font-size: 24px;
  margin-top: -80px;
}
#contact h5 {
  font-family: "ogg";
  color: #dfd3c3;
  font-weight: 200;
  font-size: 18px;
  margin-top: -15px;
}
#contact #links {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
#contact #links a {
  text-decoration: none;
  color: #dfd3c3;
}

#contact a button {
  width: 130px;
  height: 35px;
  border-radius: 100px;
  outline: none;
  font-family: 'ogg';
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: black;
  background-color: #dfd3c3;
  border: none;
  cursor: pointer;

  
}

#contact i {
  display: inline-block;
  font-size: 18px;
  font-weight: 100;
}

footer {
  width: 100%;
  height: 10vh;
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: 0.3px solid #dfd3c381;
}
footer p {
  font-size: 12px;
  font-family: "ogg";
  color: #dfd3c3;
  letter-spacing: 0.5px;
}

footer span {
  font-weight: 400;
  font-size: 14px;
  font-family: "ogg";
  color: #dfd3c3;
}

@keyframes ghumaao {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes run {
  0% {
    margin-left: -98%;
  }
  100% {
    margin-left: 0%;
  }
}

@-moz-keyframes run {
  0% {
    margin-left: -98%;
  }
  100% {
    margin-left: 0%;
  }
}

@-webkit-keyframes run {
  0% {
    margin-left: -98%;
  }
  100% {
    margin-left: 0%;
  }
}

@-o-keyframes run {
  0% {
    margin-left: -98%;
  }
  100% {
    margin-left: 0%;
  }
}

@-ms-keyframes run {
  0% {
    margin-left: -98%;
  }
  100% {
    margin-left: 0%;
  }
}

@media(max-width: 550px){
  

 .intro .load-head{
    top: 45%;
    width: 60%;
  }

  .load-head span{
    margin-left: 5px;
  }


  #main #nav{
    padding: 20px 25px;
  }
  #nav img{
    width: 40px;
  }

   #nav #text-move{
    margin-left: 15%;
    width: 50%;
  }
 
 #main #hero #line{
    opacity: .5;
    top: 20%;
  }
  #main #hero #heading {
    top: 40%;
  }
  #main #hero #heading h2{
    font-size: 50px;
    font-weight: 200;
    line-height: 55px
  }
  #hero #heading span{
    font-size: 53px;
    font-weight: 200;
    line-height: 55px
  }
  #hero #scroll{
    top: 80%;
    right: -54%;
  } 
  #scroll h4{
    font-size: 11px;
  }
  #hero #circle{
    bottom: -51%;
    left: 30%;
  }

  #who #whoimg{
  left: 50%;
  height: auto;
  width: 80%;
  top: 37%;
  }
  #who h1{
    font-size: 70px;
    line-height: 70px;
    left: 50%;
    text-align: center;
    letter-spacing: 5px;
  }
  #who #about{
    width: 80%;
    text-align: center;
    right: 10%;
    bottom: 18%;
  }
  #hztxt{
    font-size: 30px;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
  
  }
  #Shztxt{
    font-size: 30px;
    right: 0;
    bottom: -7%;
    overflow-x: hidden;
    
  }
  #home #work{
  top: 5%;

  }
  #home #work h3{
    font-size: 70px;
  }

  #home h2{
    top: 12%;
    font-size: 30px;
    width: 80%;
    transform: translate(-50%,-50%);
    left: 50% !important;
    text-align: center;
    
  }
  #home h2 span{
    font-size: 28px;
  }
  #home h2.active{
    letter-spacing: 0px;
  }
  .section{
    height: 65vh ;
  }
  .img-wrap{
    left: 10% !important;
    height: 55%; 
    top: 35%;
    
  }
  .img-wrap.active{
    width: 80vw !important;
    
  }
  .img{
    width: 80vw !important;
  }

  #main #ethic p{
    width: 100%;
    font-size: 28px;
  }
  #main #contact{
    height: 25vh;
  }
  
  #contact a button{
    margin-top: 10px;
  }
  #main #contact h5{
    margin-top: 0px;
  }
  #orientation{
    display: none !important;
  }
   @media (min-width: 1920px){
    #main #hero #heading{
      width: 63% !important;
    }
  }

}
